<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
    <link rel="stylesheet" href="../styles/public.css">
</head>
<body>

<header class="header">
    头部
</header>
<div class="nav-wrap">
    <nav class="nav">
        导航
    </nav>
</div>

